[submodule "runtime/vendors/cpp-sdk"]
	path = runtime/vendors/cpp-sdk
	url = https://github.com/altmp/cpp-sdk.git
[submodule "runtime/vendors/smf"]
	path = runtime/vendors/smf
	url = https://github.com/smfrpc/smf
